# Dependencies
node_modules/

# Environment
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# Uploads
uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/

# Build
dist/
